# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Mac-specific files
.DS_Store

# IDE settings
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Python packaging metadata
*.egg-info/
dist/
build/
